target/

*.log
logs/
*.jar
*.war

.idea/
*.iml
*.iws
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/

.DS_Store
Thumbs.db
hs_err_pid*